:root {
    --base-font-size: 1em;
    --sidebar-padding: 12px;
    --sidebar-width: 20rem;
    --theme-color: #eb055a;
    --base-background-color: #19191c;
    --sidebar-background: #252527;
    --mono-tint1: #252527;
    --search-input-background-color: #19191c;
    --blockquote-background: #252527;
    --blockquote-border-color: #f45c4a;
    --code-inline-background: hsla(0, 0%, 100%, 0.05);
    --code-theme-background: #252527;
    --copycode-background: #19191c;
    --table-row-odd-background: #19191c;
    --table-head-background: #252527;
    --blockquote-padding: 0.5rem 1.5rem;
    --blockquote-border-radius: 8px;
}

.title {
    color: inherit !important;
}

.callout {
    border-top: none !important;
    border-right: none !important;
    border-bottom: none !important;
}

.badge {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    background-color: rgb(149, 255, 43);
    color: #19191c !important;
    text-decoration: none;
    margin: 4px 0;
}

.badge.readwrite {
    background: #8473ff !important;
}

.badge.read {
    background: #ff7936 !important;
}

.badge.write {
    background: #4595ff !important;
}

.badge span {
    padding: 2px 8px;
}

[data-tooltip], a[data-tooltip] {
    position: relative;
}

[data-tooltip]::before, a[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 0%;
    margin-top: 4px;
    background: #252527;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index: 1000;
}
  
[data-tooltip]:hover::before, a[data-tooltip]:hover::before {
    opacity: 1;
    visibility: visible;
}

[data-tooltip], a[data-tooltip] {
    title: none;
}